.container
    h2 Experiments
    .row
        .col-sm-9
            input.form-control(data-hook='filter')
        .col-sm-3
            button.btn.btn-primary#newItem
                span.glyphicon.glyphicon-plus
                | &nbsp;new experiment
    hr
    table.table.table-hover
        thead
            th Name
            th Description
            th Researcher
            th # Subjects
            th # ABRs
        tbody(data-hook='experiments-table')
    hr
    .row(data-hook='pagination-control')
