.container
    .row
        h2
            span(data-hook='title')
            | &nbsp;
            small(data-hook='subtitle') Experiment
    .row
        .col-lg-8
            .row
                .panel.panel-default
                    .panel-body(data-hook='description')
            .row
                p Graphs here
            .row
                .panel.panel-default
                    .panel-heading
                        h4.panel-title Experiment Subjects
                    .panel-body
                        table.table.table-hover
                            thead
                                th Ref
                                th Strain
                                th Species
                                th DOB
                                th DOD
                                th ABRs
                            tbody(data-hook='subjects')
        .col-lg-4
            .panel.panel-default
                .panel-heading
                    h4.panel-title Actions
                .panel-body
                    .btn-group.btn-group-justified
                        .btn-group
                            button.btn.btn-primary(data-hook='edit') Edit Details
                        .btn-group
                            button.btn.btn-warning(data-hook='remove') Remove
            .panel.panel-default
                .panel-heading
                    h4.panel-title Experiment Details
                .panel-body
                    div(data-hook='details')