tr(data-hook='group-row')
    td(data-hook='date')
    td(data-hook='subject')
    td(data-hook='experiments')
    td(data-hook='tags')
    td(data-hook='type')
    td(data-hook='ear')
    td(data-hook='source')
    td(data-hook='created')
    td(data-hook='creator')

