.panel.panel-default
    .panel-heading
        h4.panel-title SigGen File
    .panel-body.form-horizontal
        .alert.alert-danger(role='alert')#abr-date-alert
            strong Missing Date!&nbsp;
            | You must select the date that these ABR recordings occured upon.
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label Ear
            .col-xs-7
                select.form-control(data-hook='ear')
                    option(value='-') -
                    option(value='Left') Left
                    option(value='Right') Right
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label ABR Date
            .col-xs-7
                input(type='date',data-hook='abr-date').form-control
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label Upload Date
            .col-xs-7
                p(data-hook='upload-date').form-control-static loading...
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label Uploader
            .col-xs-7
                p(data-hook='upload-user').form-control-static loading...
    .panel-body(style='margin-bottom: 0px; padding-bottom: 0px;')
        .alert.alert-danger(role='alert')#subject-alert
            strong Missing Subject!&nbsp;
            | You must select or create the subject that these ABR belong to.
        .row
            .col-lg-6.col-md-12
                div(data-hook='subject-select')
            .col-lg-6.col-md-12
                div(data-hook='experiments-select')
        .alert.alert-danger(role='alert',style='display: none;')#sets-alert
            strong No Sets Selected!&nbsp;
            | You must select at least one set, in one group to upload to the system.
    .panel-body(data-hook='groups-display',style='margin-top: 0px; padding-top: 0px;')
    .panel-footer
        button.btn.btn-default(data-hook='cancel') Cancel
        | &nbsp;&nbsp;
        button.btn.btn-primary(data-hook='next') Next Step
    .modal.fade(tabindex=-1,role='dialog',aria-hidden='true')#leaveModal
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Are You Sure?
                .modal-body
                    p Any and all work done on importing this ABR will be lost. You will have to start the process from the beginning if you leave now.
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') No, take me back.
                    button.btn.btn-primary#modalQuit Yes i'm sure.