.panel.panel-default
    .panel-heading
        h4.panel-title SigGen File
    .panel-body.form-horizontal
        .col-sm-3.col-md-6.form-group
            label.col-xs-4.control-label Ear
            .col-xs-8
                select.form-control(data-hook='ear')
                    option(value='-') -
                    option(value='Left') Left
                    option(value='Right') Right
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label ABR Date
            .col-xs-7
                input(type='date',data-hook='abr-date').form-control
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label Upload Date
            .col-xs-7
                p(data-hook='upload-date').form-control-static loading...
        .col-sm-3.col-md-6.form-group
            label.col-xs-5.control-label Uploader
            .col-xs-7
                p(data-hook='upload-user').form-control-static loading...
    .panel-body
        .row
            .col-lg-6.col-md-12
                div(data-hook='subject-select')
            .col-lg-6.col-md-12
                div(data-hook='experiments-select')
    .panel-body(data-hook='groups-display')
    .panel-body
        p Select analysis here
    .panel-footer
        button.btn.btn-default(data-hook='cancel') Cancel
        | &nbsp;&nbsp;
        button.btn.btn-primary(data-hook='next') Next Step