.panel.panel-default
    .panel-heading
        h4.panel-title Unknown Format
    .panel-body
        p The signature of the file you have selected is unknown. It may not be supported.
        textarea(cols=55,data-hook='lines-dump')