div.navbar-header
   a.navbar-brand(href="/") OpenABR
ul.nav.navbar-nav
   li: a(href="/upload") Upload ABR
   li: a(href="/query/readings") Query ABRs
   li: a(href="/experiments") Experiments
   li: a(href="/subjects") Subjects
ul.nav.navbar-nav.navbar-right
   if (isAdmin)
      li.dropdown
         a.dropdown-toggle(href='#' data-toggle="dropdown")
            | Admin&nbsp;
            span.caret
         ul.dropdown-menu(role='menu')
            li: a(href="/admin/users") Users
            li: a(href="/admin/fields") Fields
   li: a(href='/logout') Logout
p.navbar-text.navbar-right: a(href="/profile") #{user.name}


