.container
   h2 Edit User

   form(data-hook="user-form")
      fieldset(data-hook="field-container")
      .btn-group
         button.btn.btn-primary(data-hook="reset", type="submit") Submit
         button.btn.btn-default(data-hook='cancel', type='button') Cancel

   hr
   .panel.panel-default
      .panel-heading
         .panel-title Actions
      .panel-body
         div(data-hook='delete-confirm')
         div(data-hook='reset-password-confirm')