.container
   h2 Edit User

   form(data-hook="user-form")
      fieldset(data-hook="field-container")
      .buttons
         button.btn(data-hook="reset", type="submit") Submit

   hr
   .panel.panel-default
      .panel-heading
         .panel-title Actions
      .panel-body
         div(data-hook='delete-confirm')
         div(data-hook='reset-password-confirm')