.container
   .row
      .panel.panel-info
         .panel-heading
            .panel-title
               span.glyphicon.glyphicon-lock
               | &nbsp;Generated Password
         .panel-body
            p The following should be copied and provided to the user to login.
            hr
            .row
               .col-xs-2: strong Name:
               .col-xs-10(data-hook='name')
            .row
               .col-xs-2: strong Email:
               .col-xs-10(data-hook='email')
            .row
               .col-xs-2: strong Password:
               .col-xs-10(data-hook='password')
         .panel-footer
            strong Please ensure that the user changes this password as soon as possibile.
   .row
      a(href='/admin/users') Back to users...

