.container
    h2 Subjects
    .row
        .col-sm-9
            input.form-control(data-hook='filter')
        .col-sm-3
            button.btn.btn-primary#newSubject
                span.glyphicon.glyphicon-plus
                | &nbsp;new subject
    hr
    table.table.table-hover
        thead
            th Ref
            th Strain
            th Species
            th DOB
            th DOD
            th Researcher
            th Experiments
        tbody(data-hook='subjects-table')
    hr
    .row(data-hook='pagination-control')
