.container
    .row
        h2
            span(data-hook='title')
            | &nbsp;
            small(data-hook='subtitle')
    .row
        .col-lg-8
            .row
               p Graph here
            .row
                div(data-hook='experiments')
            .row(data-hook='timeline')
            .row(data-hook='group-show')
        .col-lg-4
            h4 Subject Details&nbsp;
                button.btn.btn-primary.btn-sm(data-hook='edit') edit subject
            div(data-hook='details')