.container
  .row
    h1 OpenABR User Created
    
  .row
    p 
      | You have successfully created&nbsp;
      strong= username
      | &nbsp; in the OpenABR system.
      
    p You will now need to record the details below for the user to login and start using OpenABR.
      
  .row
    .panel.panel-default
      .panel-heading
        .panel-title New User Details
      .panel-body
        dl.dl-horizontal
          dt Username
          dd= username
          dt Password
          dd= password
          
  .row
    .btn-group
      button.btn.btn-primary(data-hook='done') Okay, I have send/recorded the users password!
