.container
  .row
    h2
      span Edit User
      small= model.name
      
  .row
    form.form(data-hook='edit-form')
      fieldset(data-hook="field-container")
    
  .row
    .btn-toolbar
      .btn-group: button.btn.btn-primary(data-hook='save') Save Changes
      .btn-group: button.btn.btn-default(data-hook='cancel') Cancel Edit
      .btn-group: button.btn.btn-danger(data-hook='delete') Delete User
      
