.container
   h2 Users
   button.btn.btn-primary#newUser
      span.glyphicon.glyphicon-plus
      | &nbsp;new user
   hr
   table.table.table-hover
      thead
         th Title
         th Email
         th Roles
      tbody(data-hook='users-table')
