.container
   h2 404
      small &nbsp;Gah! That was not supposed to happen

   p There is nothing currently at this link address! Maybe you mistyped or copied a bad one.
   p Don't panic and remain calm, use the navbar above to go somewhere safe!

   p Oh, and if this continues to happen&nbsp;
      a(href='/contact') contact the admin!