.container
    h2 About OpenABR

    img.img-rounded(src='/img/abrexample.png' alt='Example of ABR waveform')

    p OpenABR is an cloud-hosted tool for storing and analysing Auditory Brainstem Response (ABR) data. Its purpose is to provide hearing researchers faster collection and analysis of ABRs. Additionalty it is hoped that by collecting various ABRS from other organisations and pooling the data better models and analysis processes can be developed.

    p OpenABR was originally created by Samuel Kirkpatrick for the Ryugo Lab based at the Garvin Institute, Sydney Australia, as part of a Master of Engineering degree at University of Technology, Sydney (UTS). It is currently being developed with the goal of becoming an open-source self-sustaining tool for researchers.

    p Interested? Please see the&nbsp;
        a(href='contact') contact page
        | &nbsp;for more infomation.

