.container
    h2 Contact

    p The OpenABR System is fully open source. The project can be found here&nbsp;
        a(href='http://github.com/daskurka/openabr') hosted on Github.

    p All problems, issues, suggestions, help, assistance, ideas... etc, should be directed to the project page.
