.container
    h2 Welcome to OpenABR

    p This site is still in development, any news will be posted here. If you are interested in becoming an early adopter please see the&nbsp;
        a(href='contact') contact page
        | &nbsp;for more infomation.

    a(href='about') About
    a(href='contact') Contact
    a(href='login') Login

