.container
   form.form-signin(role='form')
      #failedLoginAlert.alert.alert-danger.hidden Incorrect email or password.
      h2.form-signin-heading Sign in to OpenABR
      input.form-control#emailAddress(type='email' placeholder='Email Address' required autofocus)
      input.form-control#password(type='password' placeholder='Password' required)
      .checkbox
         label
            input#rememberMe(type='checkbox' value='remember-me')
            | &nbsp;Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Login