.container
    h2 Upload ABR(s)

    .row
        .panel.panel-default
            .panel-body
                input(type='file',data-hook='upload-file', name='file')

    .row
        div(data-hook='parse-area')