div
    ul.nav.nav-pills
        li.active(role='presentation'): a#showGraphPill(style='cursor: pointer;') Graph
        li(role='presentation'): a#showConfigPill(style='cursor: pointer;') Config
        li(role='presentation'): a#showDataPill(style='cursor: pointer;') Data
    div(data-hook='switch-area')