.container
    h2 Contact

    p The system currently is invite only, please send an email to join to chat about this possibility if you are interested.

    ul
        li To join please email join (at) openabr (dot) com
        li To report problems with the service please email admin (at) openabr (dot) com
