.graph-line-green {
  fill: none;
  stroke: #008000;
  stroke-width: 1.5px;
  opacity: 1;
}
.graph-line-grey {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1.5px;
  opacity: 1;
}
.graph-line-opacity {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1.5px;
  opacity: 0.2;
}
.graph-line-highlighted {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 1;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: #f00;
  stroke-width: 2px;
}
.domain {
  fill: none;
  stroke: #000;
  width: 1px;
}
.axisText {
  font-family: "Verdana";
  font-size: 16px;
  fill: #000;
}
.axis g text,
#xAxisTickText,
#yAxisTickText {
  font-family: "Verdana";
  font-size: 14px;
  fill: #000;
}
.peakCursors text {
  font-family: "Verdana";
  font-size: 12px;
  fill: #000;
  font-weight: bold;
  text-anchor: middle;
}
.peakCursors text.troughText {
  font-style: italic;
}
.boxPeakLabel {
  font-family: "Verdana";
  font-size: 14px;
  font-weight: bolder;
  fill: #000;
}
.boxPeakNumber {
  font-family: "Verdana";
  font-size: 14px;
  fill: #000;
  font-weight: bold;
}
.boxPeakValue {
  font-family: "Verdana";
  font-size: 12px;
  fill: #000;
  font-weight: normal;
}
.push20 {
  margin-top: 20px;
}
#pager-control {
  text-align: center;
}
.pagination-item {
  cursor: pointer;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.loginAnchor {
  font-weight: bold;
  font-size: 16px;
}
.numberUnitAndPrefix {
  font-weight: bolder;
  font-size: 14px;
  margin-top: 5px;
}
.set-selector {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 0px;
}
.unselected-set-area {
  background-color: #d3d3d3;
}
