.container
   h2 Users

   .row
      .col-sm-9
         input.form-control#filterUsers
      .col-sm-3
         button.btn.btn-primary#newUser
            span.glyphicon.glyphicon-plus
            | &nbsp;new user
   .row Table to go here...//

