tr(data-hook='set-row')
    td(data-hook='date')
    td(data-hook='subject')
    td(data-hook='experiments')
    td(data-hook='tags')
    td(data-hook='type')
    td(data-hook='freq')
    td(data-hook='threshold')

