.container
    h2 Create New Data Field&nbsp;
        small(data-hook='collection-name')
    form(data-hook="field-form")
        fieldset(data-hook="field-container")
        .btn-group
            button.btn.btn-primary(data-hook="reset", type="submit") Submit
            button.btn.btn-default(data-hook='cancel', type='button') Cancel