div
    h2 Fields Administration&nbsp;
        small Help
    ul.nav.nav-pills
        li.active(role='presentation')
            a(href='/admin/fields') Help
        li(role='presentation')
            a(href='/admin/fields/subject') Subject
        li(role='presentation')
            a(href='/admin/fields/experiment') Experiment
        li(role='presentation')
            a(href='/admin/fields/abr-group') ABR Group
        li(role='presentation')
            a(href='/admin/fields/abr-set') ABR Set
        li(role='presentation')
            a(href='/admin/fields/abr-reading') ABR Reading

    h3 Overview
    p Fields are the way of organising and storing meta-data. Each field represents a 'column' in a traditional database sense. Not every record needs to have an entry for a field but if it does the definitions here help the system manage and deal with it.

    h3 Subject, Experiment
    p Subjects and Experiments can have any fields that you want. In the following tabs you can add, edit and delete fields for these.

    h3 ABR Group, Set and Reading
    p ABR Groups, Sets and Readings each share user-defined fields. Only the system can directly update an indiviudal record. This is done for faster and simplier indexing of records.
