div
    h2 Fields Administration&nbsp;
        small Help
    ul.nav.nav-pills
        li.active(role='presentation')
            a(href='/admin/fields') Help
        li(role='presentation')
            a(href='/admin/fields/subject') Subject
        li(role='presentation')
            a(href='/admin/fields/experiment') Experiment
        li(role='presentation')
            a(href='/admin/fields/abr-group') ABR Group
        li(role='presentation')
            a(href='/admin/fields/abr-set') ABR Set
        li(role='presentation')
            a(href='/admin/fields/abr-reading') ABR Reading

    p The fillowing section will eventually explain how all of this fields marlarky works, not today bob.
