.container
    .row
        h2
            span(data-hook='title') Remove ABR Group
            | &nbsp;
            small(data-hook='subtitle')
    .row
        h1 Warning!
        p
            | Clicking remove below will&nbsp;
            strong: u remove all related ABR sets and ABR readings!
        p If you are sure you know what you are doing click remove below to proceed.
    .row
        .btn-group
            button.btn.btn-default(data-hook='cancel', type='button')
                | Cancel&nbsp;
                span.glyphicon.glyphicon-step-backward
            button.btn.btn-danger(data-hook="remove", type="button")
                | Remove&nbsp;
                span.glyphicon.glyphicon-remove

