.container
   h2 Accounts

   .row
      .col-sm-9
         input.form-control#filterAccounts
      .col-sm-3
         button.btn.btn-primary#newAccount
            span.glyphicon.glyphicon-plus
            | &nbsp;new account
   .row Table to go here...
