.container
   h2 Accounts
   .row
      .col-sm-9
         input.form-control(data-hook='filter')
      .col-sm-3
         button.btn.btn-primary#newAccount
            span.glyphicon.glyphicon-plus
            | &nbsp;new account
   hr
   table.table.table-hover
      thead
         td Name
         td Address
         td Users
         td Admin
      tbody(data-hook='accounts-table')
   hr
   .row(data-hook='pagination-control')


