.container
   h2 Edit Account

   form(data-hook="account-form")
      fieldset(data-hook="field-container")
      .buttons
         button.btn(data-hook="reset", type="submit") Submit
         button.btn(data-hook='delete', type='button').btn-danger Delete