.container
   h2 Change Password

   p To change your password please enter your current password then your new desired password.
   i If you can not remember your current password please contact your administrator.

   hr

   form(data-hook="user-form")
      fieldset(data-hook="field-container")
      .buttons.btn-group
         button.btn.btn-primary(data-hook="reset", type="submit") Submit
         button.btn.btn-default(data-hook='cancel', type='button') Cancel