.container
   .row
      h1 Profile
   .row
      .col-md-3: strong Name:
      .col-md-9(data-hook='name')
      .col-md-3: strong Email:
      .col-md-9(data-hook='email')
      .col-md-3: strong Position:
      .col-md-9(data-hook='position')
      .col-md-3: strong Unique Id:
      .col-md-9(data-hook='id')
   .row
      hr
      .button-group
         button.btn.btn-default#edit Edit
         button.btn.btn-default#changePassword Change Password