tr(data-hook='field-row')
    td(data-hook='name')
    td(data-hook='type')
    td(data-hook='dbName')
    td: span.glyphicon.glyphicon-ok(data-hook='required')
    td: span.glyphicon.glyphicon-ok(data-hook='autoPop')
    td(data-hook='creator')
    td(data-hook='description')