div
    div giant list of readings.....

    table.table.table-hover.table-condensed
        thead
            th Freq (kHz)
            th Level (dB)
            th Pk1
            th Pk2
            th Pk3
            th Pk4
            th Pk5
        tbody(data-hook='reading-list')
