tr(data-hook='reading-row')
    td(data-hook='freq')
    td(data-hook='level')
    td(data-hook='latency1')
    td(data-hook='latency2')
    td(data-hook='latency3')
    td(data-hook='latency4')
    td(data-hook='latency5')

