tr(data-hook='reading-row')
    td(data-hook='date')
    td(data-hook='subject')
    td(data-hook='experiments')
    td(data-hook='tags')
    td(data-hook='freq')
    td(data-hook='level')
    td: span.glyphicon.glyphicon-ok(data-hook='latency')
    td(data-hook='duration')
    td(data-hook='sampleRate')
    td(data-hook='numberSamples')
    td(data-hook='valueMax')
    td(data-hook='valueMin')

