.row
    .col-md-12
        .row
            .col-md-9
                h4(data-hook='name')
            .col-md-3
                button.btn.btn-primary.btn-block(data-hook='auto-threshold-group') Auto Threshold
            .col-md-12
                hr
        .row
            .col-md-9
                div(data-hook='analysis-area')
            .col-md-3
                ul.list-group(data-hook='set-select-list')


