div.navbar-header
   a.navbar-brand(href='/') OpenABR
ul.nav.navbar-nav.navbar-left
   li: a(href="/about") About
   li: a(href="/contact") Contact
ul.nav.navbar-nav.navbar-right
   li: a(href="/login").loginAnchor Login