.panel.panel-default
    .panel-heading
        h5.panel-title Create Subject
    .panel-body
        form(data-hook="subject-form")
            fieldset(data-hook="field-container")
            .btn-group
                button.btn.btn-primary(data-hook="reset", type="submit") Submit
                button.btn.btn-default(data-hook='cancel', type='button') Cancel