div.form-group
    label(data-hook='label')
    div(data-hook='message-container')
        .alert.alert-danger(data-hook='message-text')
    .row
        .col-sm-11
            input.form-control(step='any',type='number')
        .col-sm-1
            .numberUnitAndPrefix(data-hook='unit-prefix')


