div.form-group
    label(data-hook='label').control-label
    .row
        .col-sm-10
            input.form-control(readonly type='number' data-hook='value')
        .col-sm-2
            .numberUnitAndPrefix(data-hook='unit-prefix')


