div(data-hook='config-area')
    h4 Threshold Graph Configuration
    .form-group
        label Mode
        p.form-control-static(data-hook='mode')
    .form-group#groupBySection
        label Group By
        select.form-control(data-hook='group-by')
            option(value='date-simple') Simple ABR Date
            option(value='age-monthly') Age Coalesced to Monthly (4,8,12 etc)
            option(value='strain-age-monthly') Strain then age coalesced to Monthy (4,8,12 etc)
