div
    h4 Threshold Graph Raw Data
    table.table.table-condensed
        thead(data-hook='table-headers')
        tbody(data-hook='raw-data-table')
    .btn-group
        button.btn.btn-default(data-hook='export-csv') Export To CSV File
        button.btn.btn-default(data-hook='export-json') Export To JSON File

